#characterList {
	width: 90px;
}

.sectionHeader {
    font-family: verdana;
    font-size: 10px;
    color: #BBB;
    font-weight: bold;}

.charAttrLabel {
	min-width: 120px;
	display: inline-block;
}

.charAttribute {
	padding: 2px;
}

#editUser {
	display: inline-block;
	float: left;
}

#userInventory {
	float: left; 
	display: inline-block; 
	padding-left: 50px;
}

.inventoryRow {
	padding-bottom: 2px;
}

.active {
	background: url('../images/processing.gif') no-repeat right top;
}

.savingIcon {
	min-width: 15px;
	min-height: 15px;
	width: inherit;
	height: inherit;
	display: inline-block;
	background-size:15px 15px;
}

.inventorySlot {
	border: 1px solid black;
	min-width: 50px; 
	min-height: 50px;
	display: inline-block;
	z-index: 100;
	margin-left: 2px;
	background-color: #00B8E6;
}

#itemSearchBox{ 
	position: absolute;
	display: inline-block;
}

#itemSearchBox input {
	border: 1px inset #ccc;
}

.searchResult {
	background-color: white;
	border: 1px solid black;
	padding: 3px;
}

.searchResultHoverIn {
	color: white;
	background-color: #99CCFF;
}

.searchResultHoverOut {

}

.itemName {
	vertical-align: middle;
}

.itemIcon {
	height: 30px; 
	width: 30px;
}